{% block content %}

<h2>{{data.title}}</h2>
    {% for d in data %}
<ul>
    <div>
        
        <strong><li>{{ data.title }}</li></strong></br></br>
        <li>{{ data.submitDate }}</li></br></br>
        <li>{{ data.message }}</li></br></br>
        {{ data.upvote }}
        {{ data.downvote }}
    </div>
        
</ul>
    
    {% endfor %}

{% endblock %}


<!-- {% load crispy_forms_tags %}

<h3>Boast or Roast</h3>

{% block content %}
    <form method="POST" action="">
        {% csrf_token %}
        {{ form|crispy }} 
    <input type="submit" name="Create User">
    </form>
    
{% endblock %} -->