{% block content %}

<h2>{{data.title}}</h2>
    {% if data %}
<ul>
    <div>
        
        <strong>{{ data.description }}</strong></br></br>
        {{ data.submitDate }}</br></br>
        <li>{{ data.message }}</li></br></br>
        {{ data.upvote }}
        {{ data.downvote }}
    </div>
        
</ul>
    {% else %}
        <h3>oops</h3>
    {% endif %}

{% endblock %}


<!-- {% load crispy_forms_tags %}

<h3>Boast or Roast</h3>

{% block content %}
    <form method="POST" action="">
        {% csrf_token %}
        {{ form|crispy }} 
    <input type="submit" name="Create User">
    </form>
    
{% endblock %} -->